<div fxLayout='column wrap' fxLayoutAlign='start stretch' class='margin-top-60 margin-bottom-60' fxFlex='100'>
    <div fxLayout='row wrap' fxLayoutAlign='center center' >
        <!-- <p class="font-size-40 text-center text-color-red vertical-line">About Me</p> -->
        <div fxLayout='column' fxLayoutAlign='center center' fxFlex='40' >
            <img src='./assets/Web/AbdulZ.png' />
        </div>
          <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='40' class="aboutme-card">
            Abdul Zabeer H ,With 2+ Years of experiences in software development and research 
            ,I have builded couple of projects which helps in mutual funds and Insurance releated stuffs.I implements SDLC activities such as development, testing, implementation, warranty and support activities;
            participate in Knowledge Management activities, and interface with internal team to ensure high quality deliverables within the guidelines, policies
        </div>
    </div>
</div>