<div fxLayout='column wrap' fxLayoutAlign='start stretch' fxFlex='100'>
    <div fxLayout='column wrap' fxLayoutAlign='start stretch' >
        <div fxLayout='row wrap' fxLayoutAlign='center stretch'>
            <div fxLayout='row wrap' fxLayoutAlign='center center' >
                <p class="font-size-40 text-center text-color-red vertical-line">List of Work</p>  
                <p class="justify-content padding-20">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam dolore architecto iusto voluptate sapiente animi quasi dicta 
                    cupiditate debitis corrupti impedit maiores atque, omnis ad veritatis non ipsam, voluptatum tempora?</p>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='start stretch' class="custom-mat-card"
            cdkDropList
            #todoListed = 'cdkDropList'
            [cdkDropListData]='todoList'
            [cdkDropListConnectedTo]='[progressedList]'
            (cdkDropListDropped)='onDrop($event)'
            >
            <div class="margin-left-50">TODO</div>
                <mat-card *ngFor='let todo of todoList' class='margin-top-20 margin-left-50' cdkDrag> 
                    <mat-card-header>
                        <mat-card-title>{{todo.title}}</mat-card-title>
                        <mat-card-subtitle>{{todo.description}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='end end'>
                <button mat-fab color="warn" (click)='addInTodoList()'><span style='font-size:30px'>+</span></button>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='start stretch' class="custom-mat-card"
            cdkDropList
            #progressedList = 'cdkDropList'
            [cdkDropListData]='progressList'
            [cdkDropListConnectedTo]='[completedList]'
            (cdkDropListDropped)='onDrop($event)'
            >
            <div class="margin-left-50">PROGRESS</div>
                <mat-card *ngFor='let todo of progressList' class='margin-top-20 margin-left-50' cdkDrag>
                    <mat-card-header>
                        <mat-card-title>{{todo.title}}</mat-card-title>
                        <mat-card-subtitle>{{todo.description}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div> 
            <div fxLayout='column wrap' fxLayoutAlign='start stretch' class="custom-mat-card"
            cdkDropList
            #completedList = 'cdkDropList'
            [cdkDropListData]='doneList'
            [cdkDropListConnectedTo]='progressedList'
            (cdkDropListDropped)='onDrop($event)'
            >
            <div class="margin-left-50">DONE</div>
                <mat-card *ngFor='let todo of doneList' class='margin-top-20 margin-left-50' cdkDrag>
                    <mat-card-header>
                        <mat-card-title>{{todo.title}}</mat-card-title>
                        <mat-card-subtitle>{{todo.description}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>
<div fxLayout='row wrap' fxLayoutAlign='start stretch'>
        <div fxLayout='row wrap' fxLayoutAlign='space-around stretch' fxFlex='100' class="margin-top-30 margin-bottom-60">
            <div fxLayout='column wrap' fxLayoutAlign='center stretch' fxFlex='30'>
                <button mat-raised-button color="warn"  (click)='save()'>Save your work</button>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='center stretch' fxFlex='30'>
                <button mat-button  (click)='cancel()'>Cancel</button>
            </div>
        </div>
    </div>
</div>
