/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Goldman', cursive;
    background-image: url(./assets/Web/cool-background-1.png);
}
.background-picture{
    background-image: url(./assets/Web/cool-background-1.png);  
}
.navbar{
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:100;
}
.menulist{
    list-style: none;
    padding:10px;
    margin: 0;
    font-size:20px;
    cursor: pointer;
}
.menulist>div:hover{
    color:red;
}
.link-active{
    color: red;
}
app-home,app-root,app-aboutus,app-contactus,app-login{
    width: 100%;
}
.width-100{
    width: 100%;
}
.margin-bottom-60{
    margin-bottom: 60px;
}
.margin-top-60{
    margin-top:60px;
}
.justify-content{
    text-align: justify;
}
.padding-20{
    padding:20px
}
.example-card {
    max-width: 200px;
}
.font-size-40{
    font-size: 40px;
}
.text-center{
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:10px
}
.text-color-red{
    color: red;
}
.vertical-line{
    border-bottom: 1px solid white;
}
.aboutus{
    height: 80px;
    background-color: black;
    color:white;
    width:100%;
}
.height-80{
    height: 80px;
}
.headingcard{
    height: 500px;
}
.color-white{
    color: white;
}
.margin-top-44{
    margin-top: 44px;
}
.background-color-black{
    background-color: black;
}
.background-color-white{
    background-color: white;
    height: 300px;
    padding:20px;
    border-radius: 10px;
}
.aboutme-card{
    background-color: white;
    height: 200px;
    padding:20px;
    border-radius: 10px;
    text-align: justify;
}
.feedback-card{
    background-color: white;
    height: auto;
    padding:10px;
    border-radius: 10px;
    text-align: justify;
    overflow-wrap: anywhere;
}
.margin-top-30{
    margin-top: 30px;
}
.height-400{
    height: 400px;
}
.example-container {
    background-color: white;
    width:1000px;
    margin: auto;
    padding:20px;
    border-radius: 20px;
}
.login-container{
    background-color: white;
    padding:20px;
    border-radius: 20px;
    width:95%;
    margin: auto;
}
.tp-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 100vh;
 }
 .tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    width:100px;   
 }
 .margin-top-20{
     margin-top:20px;
 }
 .margin-left-50{
     margin-left: 50px;
 }
 .custom-mat-card{
     .mat-card{
         width: 200px;
         overflow-wrap: anywhere;
     }
 }
 .margin-bottom-100{
     margin-bottom: 100px;
 }
 .margin-left-10px{
    margin-left: 10px;
 }
 .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .text-right{
      text-align: right;
  }
  .custom-icon{
      .material-icons{
        background: red;
        color: white;
        border-radius: 36px;
        font-size: 60px;
      }
      
  }