<div fxLayout='row wrap' fxLayoutAlign='start stretch'class='margin-top-44 margin-bottom-60'>
<div fxLayout='row wrap' fxLayoutAlign='center stretch' fxLayoutGap='20px' class="padding-20 headingcard">
    <div fxLayout='column wrap' fxLayoutAlign='center stretch'  fxFlex='40'>
        <div fxLayout='row wrap' fxLayoutAlign='center center' class="width-100 height-80">
            <p class="font-size-40 text-center text-color-red vertical-line">What We Are</p>
    </div>
    <p class="justify-content color-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius magnam illo autem, 
            adipisci aperiam praesentium error atque facere numquam. 
            Commodi accusamus aut asperiores dolor autem dignissimos, architecto ipsam nam sunt?
    </p>
    <div fxLayout='row wrap' fxLayoutAlign='center center' >
        <button mat-raised-button color="warn">View Our Work</button>
    </div>
    </div>
    <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='40'>
        <img src="../../assets/Web/workTime.svg">
    </div>
</div>
    <div fxLayout='row wrap' fxLayoutAlign='center center' class="background-color-black height-400">
        <p class="font-size-40 text-center text-color-red vertical-line">What we do</p>
        <p class="justify-content padding-20 color-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt optio, temporibus eaque laboriosam, quia perspiciatis quas nam deserunt ex voluptates accusantium. 
        Tempora accusamus velit necessitatibus impedit, maiores sunt voluptas quam.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem in excepturi quisquam minima, quod natus cum magnam 
        quibusdam quos quasi fuga hic modi nam aut. Alias corporis doloremque eius. Enim!
    </p>
    </div>
    <div fxLayout='row wrap' fxLayoutAlign='center stretch' class="padding-20 headingcard">
        <div fxLayout='column wrap' fxLayoutAlign='center stretch'>
            <div fxLayout='row wrap' fxLayoutAlign='center center' class="width-100 height-80">
                <p class="font-size-40 text-center text-color-red vertical-line">What it do for you</p>
            </div>
        <div fxLayout='row wrap' fxLayoutAlign='center center' fxLayoutGap='20px' class="margin-top-44">
            <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='20' class="background-color-white">
                <img src='../../assets/Web/undraw_dev_productivity_umsq.svg' width='80%'/>
                <p>Time Managment</p>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='20' class="background-color-white">
                <img src='../../assets/Web/undraw_color__schemes_wv48.svg' width='100%'/>
                <p>Time Managment</p>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='20' class="background-color-white">
                <img src='../../assets/Web/undraw_To_do_list_re_9nt7.svg' width='100%'/>
                <p class="margin-top-30">Time Managment</p>
            </div>
            <div fxLayout='column wrap' fxLayoutAlign='center center' fxFlex='20' class="background-color-white">
                <img src='../../assets/Web/undraw_Work_time_re_hdyv.svg' width='100%'/>
                <p>Time Managment</p>
            </div>
        </div>
    </div>
    </div>
</div>